body{
  background-image: src=images/backgroundSettings.jpg ;
  background-size: cover;
}

h1{
  font-size: 30px;
  text-decoration: none;
}

accueil{
  text-align: center;
}

.topnav{
    overflow: hidden;
    background-color: clear;
}
.topnav a{
    text-align: center;        
    text-decoration: none;
    color: white;
}
.topnav a:hover{
    background-color: black ;
    color: white;
    opacity: 0.3;
    
input[type=checkbox]{


}
