body{
    background-image: url("https://static6.depositphotos.com/1000352/541/i/450/depositphotos_5419006-stock-photo-green-brick-wall-texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
}
.game{
    text-align: center;
}

.input-class{
    position: fixed;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    border: 5px solid;
    border-color: black;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    z-index: 10;
