body {
    background-image: url("https://cdn.modrinth.com/data/Kx5dgw9M/images/ec9388fce233131a75352a271e91fc9c3e2cc5ff.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /*Cache les barres de défilement */
    /*overflow : hidden; */
    
}

h1 {
    font-size: 30px;
    color: beige;
    text-align: center;
}
.donationCote {
    position: absolute;
    left: 15px;
    top: 130px;
    bottom: 20px;
    width: 270px;
    height: 380px;
    border: 3px solid black;
}
iframe {
    height: 100%;
    width: 100%;
}
.messageDescription {
    background-color: #000000;
    opacity: 0.4;
    margin-left: 320px;
    border-radius: 10px;
}
.messageText {
    color: #00BFFF;
    padding: 50px;
    opacity: 1;
}
.input{
    text-align: center;
}
/*Stylisé le boîte de text */
input[type=text]{
    background-color: black;
    color: white;
    width: 50%;
    height: 34px;
    font-size: 1.2em;
    margin-left: 320px;
}
/*Stylisé le bouton de submit */
input[type=submit]{
    background-color: black;
    color: white;
    padding: 10px 52px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 320px;
    margin-right: auto;
}
.topnav{
    overflow: hidden;
    background-color: clear;
}
.topnav a{
    float: left;
    text-align: center;        
    padding: 14px 16px;
    text-decoration: none;
    color: #ffffff;
     font-size: 20px;
}
.topnav a:hover{
    background-color: white ;
    color: white;
    opacity: 0.3;
}
.parametres{
    
}
