body{
    background-image: url("https://img.freepik.com/free-photo/abstract-black-gray-grunge-texture-pattern-background_84443-3248.jpg?semt=ais_hybrid&w=740");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: black;
    text-align: center;
}
h2{
    color: black;
}
.game{
    text-align: center;
}
.input-box{
    text-align: center;
    position: fixed;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    border: 5px solid;
    border-color: black;
    width: 20%;
    height: 20%;
    top: 32%;
    left: 32%;
    z-index: 10;
    
}

.x{
    position: absolute;
    right: 0%;
    cursor: pointer;

}
.morueImage{
    position: absolute;
    z-index: 1000;
}
