body{
  background-image: src=url("https://github.com/jeuxCODD/jeuxCODD.github.io/blob/main/images/backgroundSettings.jpg?raw=true");
  background-size: cover;
}

h1{
  font-size: 30px;
  text-decoration: none;
  color: white;
}

accueil{
  text-align: center;
}

.topnav{
    overflow: hidden;
    background-color: clear;
}
.topnav a{
    text-align: center;        
    text-decoration: none;
    color: white;
}
.topnav a:hover{
    background-color: black ;
    color: white;
    opacity: 0.3;
}

.audio{
  text-align: center;
} 
